@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "微软雅黑","黑体","宋体"; }

html {
  font-size: 10px; }

body {
  font-size: 0.875rem;
  font-family: sans-serif;
  /* background: #d0d0d0;*/
  -webkit-tap-highlight-color: transparent; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

strong {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  border: 0;
  max-width: 100%; }

a {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none; }

input[type=button], input[type=submit], input[type=file], button {
  cursor: pointer;
  -webkit-appearance: none; }

input {
  -webkit-tap-highlight-color: transparent; }

a, button, input, optgroup, select, textarea {
  -webkit-tap-highlight-color: transparent; }

* {
  -webkit-touch-callout: none;
  /*系统默认菜单被禁用*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -khtml-user-select: none;
  /*早期浏览器*/
  -moz-user-select: none;
  /*火狐*/
  -ms-user-select: none;
  /*IE10*/
  user-select: none; }

input, textarea {
  -webkit-user-select: auto;
  /*webkit浏览器*/
  margin: 0px;
  padding: 0px;
  outline: none; }

body {
  background-color: #eeeef3; }

a {
  text-decoration: none;
  background: transparent;
  -webkit-tap-highlight-color: transparent; }

.ovh {
  overflow: hidden; }

.float-r {
  float: right; }

.float-l {
  float: left; }

.zwadd-block {
  margin: 0.64rem 0 0 0;
  background-color: white; }
  .zwadd-block .zb-topline {
    padding: 0 10px;
    height: 1.5rem;
    border-bottom: 1px solid #eeeef3; }

.del-span {
  width: 3rem;
  height: 1.5rem;
  background: url(../images/icon-deladdress.png) no-repeat center center/auto 0.64rem;
  cursor: pointer; }

.add-span {
  width: 4.05333rem;
  height: 2rem;
  background: url(../images/icon-addaddress.png) no-repeat center center/auto 0.64rem;
  cursor: pointer; }

.choose-line {
  padding: 0 10px;
  line-height: 2rem;
  font-size: 0.68267rem;
  border-bottom: 1px solid #eeeef3; }
  .choose-line .chl-left {
    color: #000; }
  .choose-line .chl-right {
    color: #999; }

.del-input {
  display: inline-block;
  width: 70%;
  vertical-align: middle;
  font-size: 0.68267rem;
  padding-right: 1.28rem; }
  .del-input input {
    width: 100%;
    border: none;
    outline-style: none; }
  .del-input .di-icon {
    display: none;
    float: left;
    width: 1.28rem;
    height: 0.85333rem;
    background: url(../images/clear.png) no-repeat center center/auto 0.85333rem;
    margin-left: -1.28rem;
    position: relative;
    left: 1.28rem; }

.chlr-value {
  vertical-align: middle; }

.sm-icon {
  display: inline-block;
  width: 0.74667rem;
  height: 0.74667rem;
  background: no-repeat center center/contain; }
  .sm-icon.smi-remove {
    background-image: url(../images/smi-remove.png);
    background-size: auto 100%; }
  .sm-icon.smi-more {
    background-image: url(../images/i-more.png);
    vertical-align: middle; }

.addtjh {
  position: fixed;
  bottom: 0;
  width: 100%;
  line-height: 2rem;
  text-align: center;
  font-size: 0.768rem;
  background-color: #6497FE;
  color: white; }

/*# sourceMappingURL=autumn.css.map */
