@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "微软雅黑","黑体","宋体"; }

html {
  font-size: 10px; }

body {
  font-size: 0.875rem;
  font-family: sans-serif;
  /* background: #d0d0d0;*/
  -webkit-tap-highlight-color: transparent; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

strong {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  border: 0;
  max-width: 100%; }

a {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none; }

input[type=button], input[type=submit], input[type=file], button {
  cursor: pointer;
  -webkit-appearance: none; }

input {
  -webkit-tap-highlight-color: transparent; }

a, button, input, optgroup, select, textarea {
  -webkit-tap-highlight-color: transparent; }

* {
  -webkit-touch-callout: none;
  /*系统默认菜单被禁用*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -khtml-user-select: none;
  /*早期浏览器*/
  -moz-user-select: none;
  /*火狐*/
  -ms-user-select: none;
  /*IE10*/
  user-select: none; }

input, textarea {
  -webkit-user-select: auto;
  /*webkit浏览器*/
  margin: 0px;
  padding: 0px;
  outline: none; }

body {
  background-color: #eeeef3; }

a {
  text-decoration: none;
  background: transparent;
  -webkit-tap-highlight-color: transparent; }

.ovh {
  overflow: hidden; }

.float-r {
  float: right; }

.float-l {
  float: left; }

.bg-white {
  background-color: white; }

.pos-rel {
  position: relative; }

.zwadd-block {
  margin: 0.64rem 0 0 0;
  background-color: white; }
  .zwadd-block .zb-topline {
    padding: 0 10px;
    height: 1.5rem;
    border-bottom: 1px solid #eeeef3; }

.del-span {
  width: 3rem;
  height: 1.5rem;
  background: url(../images/icon-deladdress.png) no-repeat center center/auto 0.64rem;
  cursor: pointer; }

.add-span {
  width: 4.05333rem;
  height: 2rem;
  background: url(../images/icon-addaddress.png) no-repeat center center/auto 0.64rem;
  cursor: pointer; }

.choose-line {
  padding: 0 10px;
  line-height: 2rem;
  font-size: 0.68267rem;
  border-bottom: 1px solid #eeeef3; }
  .choose-line .chl-left {
    color: #000; }
  .choose-line .chl-right {
    color: #999; }

.del-input {
  display: inline-block;
  width: 67%;
  vertical-align: middle;
  font-size: 0.68267rem;
  padding-right: 1.28rem; }
  .del-input input {
    width: 100%;
    border: none;
    outline-style: none; }
  .del-input .di-icon {
    display: none;
    float: left;
    width: 1.28rem;
    height: 0.85333rem;
    background: url(../images/clear.png) no-repeat center center/auto 0.85333rem;
    margin-left: -1.28rem;
    position: relative;
    left: 1.28rem; }

.chlr-value {
  vertical-align: middle; }

.sm-icon {
  display: inline-block;
  width: 0.74667rem;
  height: 0.74667rem;
  background: no-repeat center center/contain; }
  .sm-icon.smi-remove {
    background-image: url(../images/smi-remove.png);
    background-size: auto 100%; }
  .sm-icon.smi-more {
    background-image: url(../images/i-more.png);
    vertical-align: middle; }
  .sm-icon.smi-heart {
    background-image: url(../images/autumn/smi-heart.png);
    vertical-align: middle; }

.addtjh {
  position: fixed;
  padding-right: 3rem;
  bottom: 0;
  width: 100%;
  line-height: 2rem;
  text-align: center;
  font-size: 0.768rem;
  background-color: #fff;
  color: #6497FE; }
  .addtjh .side-btn {
    float: right;
    width: 3rem;
    margin-right: -3rem;
    color: #20BF96;
    border-left: 1px solid #eeeef3; }

.topload-img {
  display: block; }

.topsucc-info {
  position: absolute;
  top: 3.5rem;
  left: 1.5rem;
  font-size: 0.768rem;
  color: white; }
  .topsucc-info.completeinfo-box {
    width: 8rem;
    top: 2.5rem; }
    .topsucc-info.completeinfo-box > p {
      font-size: 0.59733rem; }

.hori-three {
  padding: 0 0.85333rem;
  margin: 2.13333rem 0 1.19467rem 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  align-items: center; }
  .hori-three .ht-line {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    border-bottom: 1px solid #FE6E35; }
  .hori-three .ht-text {
    padding: 0 0.42667rem;
    color: #FE6E35;
    font-size: 0.59733rem; }

.marr12 {
  margin-right: 0.256rem; }

.bgwhite-list {
  margin: 0 5px;
  padding: 0 10px;
  background-color: white; }

.custinfo-line {
  padding: 6px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  align-items: center; }
  .custinfo-line:not(:last-child) {
    border-bottom: 1px solid #eeeef3; }
  .custinfo-line .cl-infoblock {
    width: 0;
    padding-left: 0.42667rem;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1; }
    .custinfo-line .cl-infoblock > p {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
    .custinfo-line .cl-infoblock .clib-name {
      color: #000;
      font-size: 0.72533rem; }
    .custinfo-line .cl-infoblock .clib-career {
      margin: 2px 0; }
    .custinfo-line .cl-infoblock .clib-career, .custinfo-line .cl-infoblock .clib-desc {
      color: #666;
      font-size: 0.59733rem; }

.himg-box {
  position: relative;
  height: 2.13333rem;
  width: 2.13333rem; }
  .himg-box .hib-img {
    width: 100%;
    height: 100%;
    border-radius: 999px; }
  .himg-box .hib-tag {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0.64rem;
    height: 0.64rem; }

.roundcorner-btn {
  display: block;
  margin: 1.70667rem auto 0;
  width: 5.33333rem;
  line-height: 1.49333rem;
  background-color: #08C48D;
  color: #fff;
  border-radius: 999px;
  text-align: center;
  font-size: 0.68267rem; }

.compinfo-tag {
  margin: 2.56rem 2.13333rem 1.70667rem;
  font-size: 0.64rem; }

.goverifybtn {
  margin: 0 auto;
  display: block;
  width: 80%;
  line-height: 1.70667rem;
  border-radius: 2px;
  color: #fff;
  text-align: center;
  border: none;
  background-color: #08C48D;
  font-size: 0.64rem; }

.poster-selector {
  padding: 10px 0; }
  .poster-selector .ps-top {
    font-size: 0.68267rem;
    padding-left: 0.85333rem; }

.ps-container {
  overflow-x: auto;
  white-space: nowrap;
  margin: 0.42667rem 0.64rem 1.70667rem;
  padding: 0.21333rem 0.10667rem 0.21333rem;
  font-size: 0; }

.psc-item {
  position: relative;
  display: inline-block;
  margin-right: 0.85333rem;
  width: 4.16rem;
  height: 5.696rem;
  vertical-align: bottom; }
  .psc-item:last-child {
    margin-right: 0; }
  .psc-item img {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px 0 #999; }
  .psc-item.active {
    box-shadow: 0 0 0 1px #fff, 0 0 0 4px #20BF96; }
  .psc-item.pi-add {
    box-shadow: 0 0 8px 0 #999;
    background-color: white;
    text-align: center; }
    .psc-item.pi-add .pi-addimg {
      display: block;
      margin: 1.06667rem auto 0.64rem;
      width: 2.56rem;
      height: 2.56rem;
      box-shadow: none; }
    .psc-item.pi-add .pi-addspan {
      font-size: 0.59733rem;
      color: #808080; }

.ps-shower {
  margin: 0 auto 1.49333rem auto;
  width: 8.896rem;
  height: 12.58667rem; }
  .ps-shower img {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px 0 #999; }

.type-line {
  background-color: white;
  background-image: url(../images/i-more.png);
  background-repeat: no-repeat;
  background-size: 0.42667rem;
  background-position: 96% center;
  margin: 0.42667rem 0;
  line-height: 1.92rem; }
  .type-line .type-name {
    margin-left: 0.64rem;
    color: #000;
    font-size: 0.64rem;
    vertical-align: bottom; }

.right-value {
  margin-right: 8%;
  float: right;
  color: #999;
  font-size: 0.64rem;
  max-width: 9.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.mar24 {
  margin: 0 0.512rem; }

.tag-line {
  margin: 0.512rem 1.06667rem 0.768rem;
  font-size: 0.59733rem;
  color: #808080; }

.cust-ta {
  padding: 0.46933rem;
  margin: 0 0.512rem;
  background-color: white; }
  .cust-ta textarea {
    border: none;
    box-sizing: content-box;
    -webkit-appearance: none;
    resize: none;
    width: 100%;
    color: #000;
    font-size: 0.64rem;
    height: 4.8em; }

.button-block {
  display: block;
  margin: 0 auto;
  width: 90%;
  line-height: 1.7066666667rem;
  font-size: 0.64rem;
  border: none;
  color: white;
  border-radius: 4px; }
  .button-block.btn-makeposter {
    margin: 1.49333rem auto;
    width: 80%;
    background-color: #17C792; }

.post-shower {
  margin: 2.048rem auto 2.34667rem;
  width: 13.65333rem;
  height: 16.32rem; }
  .post-shower img {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 20px 0 #666; }

.button-inlineblock {
  display: inline-block;
  margin: 0 4% 0 8%;
  width: 40%;
  line-height: 1.7066666667rem;
  font-size: 0.64rem;
  border: none;
  color: white;
  border-radius: 4px; }
  .button-inlineblock.btn-remake {
    background-color: #83b0c2; }
  .button-inlineblock.btn-savepost {
    margin: 0;
    background-color: #17C792; }

.poster-nines {
  padding: 0.384rem 0.85333rem;
  font-size: 0; }
  .poster-nines .psc-item {
    margin-bottom: 0.72533rem; }
  .poster-nines .psc-item:nth-child(3n) {
    margin-right: 0; }

.pmbtm-tag {
  margin: 0.68267rem 0 0.42667rem;
  font-size: 0.59733rem;
  color: #808080; }

.psci-close {
  display: inline-block;
  position: absolute;
  right: -0.384rem;
  top: -0.384rem;
  width: 0.768rem;
  height: 0.768rem;
  background: url(../images/autumn/icon-posterclose.png) no-repeat center center/contain; }

.mart15 {
  margin-top: 0.32rem; }

.memberslist .rank-item:nth-child(1) .ri-index {
  height: 0.81067rem;
  font-size: 0;
  background: url(../images/autumn/bg-mfirst.png) no-repeat 0.2rem center/auto 100%; }
.memberslist .rank-item:nth-child(2) .ri-index {
  height: 0.81067rem;
  font-size: 0;
  background: url(../images/autumn/bg-msecond.png) no-repeat 0.2rem center/auto 100%; }
.memberslist .rank-item:nth-child(3) .ri-index {
  height: 0.81067rem;
  font-size: 0;
  background: url(../images/autumn/bg-mthird.png) no-repeat 0.2rem center/auto 100%; }

.circlerank .rr-members {
  color: #3f9aeb; }

.rank-item {
  padding: 0 0.64rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  height: 2.688rem;
  align-items: center; }
  .rank-item.myrank {
    background-color: #f7f7f7; }
  .rank-item .ri-index {
    font-size: 0.64rem;
    font-weight: bold;
    min-width: 1.2rem;
    text-align: center; }
  .rank-item .ri-himg {
    margin: 0 0.42667rem 0 0; }
    .rank-item .ri-himg .himg {
      width: 1.70667rem;
      height: 1.70667rem;
      border-radius: 999px; }
  .rank-item .ri-text {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1; }
    .rank-item .ri-text .rit-name {
      font-size: 0.59733rem;
      color: #000;
      max-width: 6rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
    .rank-item .ri-text .rit-rank {
      margin-top: 0.21333rem;
      font-size: 0.64rem;
      color: #4775a3; }

.rr-btn {
  display: inline-block;
  width: 2.98667rem;
  text-align: center;
  color: #663300;
  background-color: #ffcd76;
  line-height: 1.06667rem;
  font-size: 0.512rem;
  border-radius: 999px; }

.rr-members {
  margin-right: 0.21333rem;
  font-size: 0.72533rem;
  color: #ffcd76; }

.rank-list {
  padding: 0 0.64rem; }
  .rank-list .rank-item {
    padding: 0;
    border-bottom: 1px solid #F5F5F5; }

.rank-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: 9.6rem;
  background: url(../images/autumn/bg-ranktop.png) no-repeat center center/cover; }

.top-item {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  text-align: center;
  width: 0; }
  .top-item .ti-hbox {
    position: relative;
    margin: 1.06667rem auto 0.68267rem;
    width: 3.456rem;
    height: 4.56533rem;
    background: no-repeat center center/cover; }
    .top-item .ti-hbox.ti-second {
      background-image: url(../images/autumn/bg-tsecond.png); }
    .top-item .ti-hbox.ti-first {
      background-image: url(../images/autumn/bg-tfirst.png); }
    .top-item .ti-hbox.ti-third {
      background-image: url(../images/autumn/bg-tthird.png); }
    .top-item .ti-hbox.ti-second .cir-img, .top-item .ti-hbox.ti-third .cir-img {
      margin-top: 1.45067rem;
      width: 3.072rem;
      height: 3.072rem;
      border-radius: 999px; }
    .top-item .ti-hbox.ti-first .cir-img {
      margin-top: 1.17333rem;
      width: 3.34933rem;
      height: 3.34933rem;
      border-radius: 999px; }
  .top-item .cir-name {
    padding: 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.59733rem;
    color: white; }
  .top-item .rr-btn {
    margin-top: 0.42667rem;
    font-size: 0.64rem;
    color: white; }

.top-suggest {
  padding-left: 10px;
  line-height: 1.92rem;
  background-color: #f5fbff;
  font-size: 0.55rem;
  color: #666; }

.fr-btn {
  float: right;
  width: 2.8rem;
  text-align: center;
  color: white;
  background-color: #3ebdf6;
  line-height: 1.22rem;
  margin: 0.35rem 10px 0 0;
  border-radius: 3px; }

/*# sourceMappingURL=autumn.css.map */
