@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "微软雅黑","黑体","宋体"; }

html {
  font-size: 10px; }

body {
  font-size: 0.875rem;
  font-family: sans-serif;
  /* background: #d0d0d0;*/
  -webkit-tap-highlight-color: transparent; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

strong {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  border: 0;
  max-width: 100%; }

a {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none; }

input[type=button], input[type=submit], input[type=file], button {
  cursor: pointer;
  -webkit-appearance: none; }

input {
  -webkit-tap-highlight-color: transparent; }

a, button, input, optgroup, select, textarea {
  -webkit-tap-highlight-color: transparent; }

* {
  -webkit-touch-callout: none;
  /*系统默认菜单被禁用*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -khtml-user-select: none;
  /*早期浏览器*/
  -moz-user-select: none;
  /*火狐*/
  -ms-user-select: none;
  /*IE10*/
  user-select: none; }

input, textarea {
  -webkit-user-select: auto;
  /*webkit浏览器*/
  margin: 0px;
  padding: 0px;
  outline: none; }

body {
  background-color: #eeeef3; }

a {
  text-decoration: none;
  background: transparent;
  -webkit-tap-highlight-color: transparent; }

.ovh {
  overflow: hidden; }

.float-r {
  float: right; }

.float-l {
  float: left; }

.bg-white {
  background-color: white; }

.pos-rel {
  position: relative; }

.zwadd-block {
  margin: 0.64rem 0 0 0;
  background-color: white; }
  .zwadd-block .zb-topline {
    padding: 0 10px;
    height: 1.5rem;
    border-bottom: 1px solid #eeeef3; }

.del-span {
  width: 3rem;
  height: 1.5rem;
  background: url(../images/icon-deladdress.png) no-repeat center center/auto 0.64rem;
  cursor: pointer; }

.add-span {
  width: 4.05333rem;
  height: 2rem;
  background: url(../images/icon-addaddress.png) no-repeat center center/auto 0.64rem;
  cursor: pointer; }

.choose-line {
  padding: 0 10px;
  line-height: 2rem;
  font-size: 0.68267rem;
  border-bottom: 1px solid #eeeef3;
  overflow: hidden; }
  .choose-line .chl-left {
    color: #000; }
  .choose-line .chl-right {
    color: #999; }

.del-input {
  display: inline-block;
  width: 67%;
  vertical-align: middle;
  font-size: 0.68267rem;
  padding-right: 1.28rem; }
  .del-input input {
    width: 100%;
    border: none;
    outline-style: none; }
  .del-input .di-icon {
    display: none;
    float: left;
    width: 1.28rem;
    height: 0.85333rem;
    background: url(../images/clear.png) no-repeat center center/auto 0.85333rem;
    margin-left: -1.28rem;
    position: relative;
    left: 1.28rem; }

.chlr-value {
  vertical-align: middle; }

.sm-icon {
  display: inline-block;
  width: 0.74667rem;
  height: 0.74667rem;
  background: no-repeat center center/contain; }
  .sm-icon.smi-remove {
    background-image: url(../images/smi-remove.png);
    background-size: auto 100%; }
  .sm-icon.smi-more {
    background-image: url(../images/i-more.png);
    vertical-align: middle; }
  .sm-icon.smi-heart {
    background-image: url(../images/autumn/smi-heart.png);
    vertical-align: middle; }
  .sm-icon.smi-more {
    background-image: url(../images/autumn/more_unfold.png);
    transition: transform 200ms; }

.addtjh {
  position: fixed;
  padding-right: 3rem;
  bottom: 0;
  width: 100%;
  line-height: 2rem;
  text-align: center;
  font-size: 0.768rem;
  background-color: #fff;
  color: #6497FE; }
  .addtjh .side-btn {
    float: right;
    width: 3rem;
    margin-right: -3rem;
    color: #20BF96;
    border-left: 1px solid #eeeef3; }

.topload-img {
  display: block; }

.topsucc-info {
  position: absolute;
  top: 3.5rem;
  left: 1.5rem;
  font-size: 0.768rem;
  color: white; }
  .topsucc-info.completeinfo-box {
    width: 8rem;
    top: 2.5rem; }
    .topsucc-info.completeinfo-box > p {
      font-size: 0.59733rem; }

.hori-three {
  padding: 0 0.85333rem;
  margin: 2.13333rem 0 1.19467rem 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  -webkit-align-items: center; }
  .hori-three .ht-line {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    border-bottom: 1px solid #FE6E35; }
  .hori-three .ht-text {
    padding: 0 0.42667rem;
    color: #FE6E35;
    font-size: 0.59733rem; }

.marr12 {
  margin-right: 0.256rem; }

.bgwhite-list {
  margin: 0 5px;
  padding: 0 10px;
  background-color: white; }

.custinfo-line {
  padding: 6px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  -webkit-align-items: center; }
  .custinfo-line:not(:last-child) {
    border-bottom: 1px solid #eeeef3; }
  .custinfo-line .cl-infoblock {
    width: 0;
    padding-left: 0.42667rem;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1; }
    .custinfo-line .cl-infoblock > p {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
    .custinfo-line .cl-infoblock .clib-name {
      color: #000;
      font-size: 0.72533rem; }
    .custinfo-line .cl-infoblock .clib-career {
      margin: 2px 0; }
    .custinfo-line .cl-infoblock .clib-career, .custinfo-line .cl-infoblock .clib-desc {
      color: #666;
      font-size: 0.59733rem; }

.himg-box {
  position: relative;
  height: 2.13333rem;
  width: 2.13333rem; }
  .himg-box .hib-img {
    width: 100%;
    height: 100%;
    border-radius: 999px; }
  .himg-box .hib-tag {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0.64rem;
    height: 0.64rem; }

.roundcorner-btn {
  display: block;
  margin: 1.70667rem auto 0;
  width: 5.33333rem;
  line-height: 1.49333rem;
  background-color: #08C48D;
  color: #fff;
  border-radius: 999px;
  text-align: center;
  font-size: 0.68267rem; }

.compinfo-tag {
  margin: 2.56rem 2.13333rem 1.70667rem;
  font-size: 0.64rem; }

.goverifybtn {
  margin: 0 auto;
  display: block;
  width: 80%;
  line-height: 1.70667rem;
  border-radius: 2px;
  color: #fff;
  text-align: center;
  border: none;
  background-color: #08C48D;
  font-size: 0.64rem; }

.poster-selector {
  padding: 10px 0; }
  .poster-selector .ps-top {
    font-size: 0.68267rem;
    padding-left: 0.85333rem; }

.ps-container {
  overflow-x: auto;
  white-space: nowrap;
  margin: 0.42667rem 0.64rem 1.70667rem;
  padding: 0.21333rem 0.10667rem 0.21333rem;
  font-size: 0; }

.psc-item {
  position: relative;
  display: inline-block;
  margin-right: 0.85333rem;
  width: 4.16rem;
  height: 5.696rem;
  vertical-align: bottom; }
  .psc-item:last-child {
    margin-right: 0; }
  .psc-item img {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px 0 #999; }
  .psc-item.active {
    box-shadow: 0 0 0 1px #fff, 0 0 0 4px #20BF96; }
  .psc-item.pi-add {
    box-shadow: 0 0 8px 0 #999;
    background-color: white;
    text-align: center; }
    .psc-item.pi-add .pi-addimg {
      display: block;
      margin: 1.06667rem auto 0.64rem;
      width: 2.56rem;
      height: 2.56rem;
      box-shadow: none; }
    .psc-item.pi-add .pi-addspan {
      font-size: 0.59733rem;
      color: #808080; }

.ps-shower {
  margin: 0 auto 1.49333rem auto;
  width: 8.896rem;
  height: 12.58667rem; }
  .ps-shower img {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px 0 #999; }

.type-line {
  background-color: white;
  background-image: url(../images/i-more.png);
  background-repeat: no-repeat;
  background-size: 0.42667rem;
  background-position: 96% center;
  margin: 0.42667rem 0;
  line-height: 1.92rem; }
  .type-line .type-name {
    margin-left: 0.64rem;
    color: #000;
    font-size: 0.64rem;
    vertical-align: bottom; }

.right-value {
  margin-right: 8%;
  float: right;
  color: #999;
  font-size: 0.64rem;
  max-width: 9.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.mar24 {
  margin: 0 0.512rem; }

.tag-line {
  margin: 0.512rem 1.06667rem 0.768rem;
  font-size: 0.59733rem;
  color: #808080; }

.cust-ta {
  padding: 0.46933rem;
  margin: 0 0.512rem;
  background-color: white; }
  .cust-ta textarea {
    border: none;
    box-sizing: content-box;
    -webkit-appearance: none;
    resize: none;
    width: 100%;
    color: #000;
    font-size: 0.64rem;
    height: 4.8em; }

.button-block {
  display: block;
  margin: 0 auto;
  width: 90%;
  line-height: 1.7066666667rem;
  font-size: 0.64rem;
  border: none;
  color: white;
  border-radius: 4px; }
  .button-block.btn-makeposter {
    margin: 1.49333rem auto;
    width: 80%;
    background-color: #17C792; }
  .button-block.btn-veredit {
    margin: 1.49333rem auto;
    width: 80%;
    background-color: #17C792; }
  .button-block.btn-goverify {
    margin: 2.98667rem auto;
    width: 80%;
    background-color: #53aefa; }
  .button-block.btn-versubmit {
    margin: 0.85333rem auto 0;
    width: 100%;
    background-color: #17C792;
    border-radius: 0; }
  .button-block:disabled {
    background-color: #ccc; }

.post-shower {
  margin: 2.048rem auto 2.34667rem;
  width: 13.65333rem;
  height: 16.32rem; }
  .post-shower img {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 20px 0 #666; }

.button-inlineblock {
  display: inline-block;
  margin: 0 4% 0 8%;
  width: 40%;
  line-height: 1.7066666667rem;
  font-size: 0.64rem;
  border: none;
  color: white;
  border-radius: 4px; }
  .button-inlineblock.btn-remake {
    background-color: #83b0c2; }
  .button-inlineblock.btn-savepost {
    margin: 0;
    background-color: #17C792; }

.poster-nines {
  padding: 0.384rem 0.85333rem;
  font-size: 0; }
  .poster-nines .psc-item {
    margin-bottom: 0.72533rem; }
  .poster-nines .psc-item:nth-child(3n) {
    margin-right: 0; }

.pmbtm-tag {
  margin: 0.68267rem 0 0.42667rem;
  font-size: 0.59733rem;
  color: #808080; }

.psci-close {
  display: inline-block;
  position: absolute;
  right: -0.384rem;
  top: -0.384rem;
  width: 0.768rem;
  height: 0.768rem;
  background: url(../images/autumn/icon-posterclose.png) no-repeat center center/contain; }

.mart15 {
  margin-top: 0.32rem; }

.memberslist .rank-item:nth-child(1) .ri-index {
  height: 0.81067rem;
  font-size: 0;
  background: url(../images/autumn/bg-mfirst.png) no-repeat 0.2rem center/auto 100%; }
.memberslist .rank-item:nth-child(2) .ri-index {
  height: 0.81067rem;
  font-size: 0;
  background: url(../images/autumn/bg-msecond.png) no-repeat 0.2rem center/auto 100%; }
.memberslist .rank-item:nth-child(3) .ri-index {
  height: 0.81067rem;
  font-size: 0;
  background: url(../images/autumn/bg-mthird.png) no-repeat 0.2rem center/auto 100%; }

.circlerank .rr-members {
  color: #3f9aeb; }

.rank-item {
  padding: 0 0.64rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  height: 2.688rem;
  align-items: center;
  -webkit-align-items: center; }
  .rank-item.myrank {
    background-color: #f7f7f7; }
  .rank-item .ri-index {
    font-size: 0.64rem;
    font-weight: bold;
    min-width: 1.2rem;
    text-align: center; }
  .rank-item .ri-himg {
    margin: 0 0.42667rem 0 0; }
    .rank-item .ri-himg .himg {
      width: 1.70667rem;
      height: 1.70667rem;
      border-radius: 999px; }
  .rank-item .ri-text {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1; }
    .rank-item .ri-text .rit-name {
      font-size: 0.59733rem;
      color: #000;
      max-width: 6rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
    .rank-item .ri-text .rit-rank {
      margin-top: 0.21333rem;
      font-size: 0.64rem;
      color: #4775a3; }

.rr-btn {
  display: inline-block;
  width: 2.98667rem;
  text-align: center;
  color: #663300;
  background-color: #ffcd76;
  line-height: 1.06667rem;
  font-size: 0.512rem;
  border-radius: 999px; }

.rr-members {
  margin-right: 0.21333rem;
  font-size: 0.72533rem;
  color: #ffcd76; }

.rank-list {
  padding: 0 0.64rem; }
  .rank-list .rank-item {
    padding: 0;
    border-bottom: 1px solid #F5F5F5; }

.rank-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: 9.6rem;
  background: url(../images/autumn/bg-ranktop.png) no-repeat center center/cover; }

.top-item {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  text-align: center;
  width: 0; }
  .top-item .ti-hbox {
    position: relative;
    margin: 1.06667rem auto 0.68267rem;
    width: 3.456rem;
    height: 4.56533rem;
    background: no-repeat center center/cover; }
    .top-item .ti-hbox.ti-second {
      background-image: url(../images/autumn/bg-tsecond.png); }
    .top-item .ti-hbox.ti-first {
      background-image: url(../images/autumn/bg-tfirst.png); }
    .top-item .ti-hbox.ti-third {
      background-image: url(../images/autumn/bg-tthird.png); }
    .top-item .ti-hbox.ti-second .cir-img, .top-item .ti-hbox.ti-third .cir-img {
      margin-top: 1.45067rem;
      width: 3.072rem;
      height: 3.072rem;
      border-radius: 999px; }
    .top-item .ti-hbox.ti-first .cir-img {
      margin-top: 1.17333rem;
      width: 3.34933rem;
      height: 3.34933rem;
      border-radius: 999px; }
  .top-item .cir-name {
    padding: 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.59733rem;
    color: white; }
  .top-item .rr-btn {
    margin-top: 0.42667rem;
    font-size: 0.64rem;
    color: white; }

.top-suggest {
  padding-left: 10px;
  line-height: 1.92rem;
  background-color: #f5fbff;
  font-size: 0.55rem;
  color: #666; }

.fr-btn {
  float: right;
  width: 2.8rem;
  text-align: center;
  color: white;
  background-color: #3ebdf6;
  line-height: 1.22rem;
  margin: 0.35rem 10px 0 0;
  border-radius: 3px; }

.sugarprod-item {
  width: 14.50667rem;
  height: 8.53333rem;
  margin: 0.5rem auto 1.5rem;
  position: relative; }
  .sugarprod-item .spi-bg {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 8.53333rem;
    border-radius: 8px;
    box-shadow: 0 0 6px 2px #999; }
  .sugarprod-item .spi-title {
    font-size: 16px;
    color: #fff;
    padding: 0.8rem 0;
    margin: 0 3rem 0 1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
  .sugarprod-item .spi-tag {
    position: absolute;
    top: 0.8rem;
    right: 0.8rem;
    width: 2rem;
    line-height: 18px;
    text-align: center;
    color: #fff;
    border: 1px solid #fff;
    font-size: 12px;
    border-radius: 2px; }
  .sugarprod-item .spi-owner {
    position: absolute;
    bottom: -0.85333rem;
    left: 0.42667rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    width: 13.65333rem;
    height: 2.34667rem;
    background-color: #fff;
    border-radius: 6px;
    align-items: center;
    -webkit-align-items: center;
    box-shadow: 0 0 6px 0 #ccc; }
    .sugarprod-item .spi-owner .spi-imgc {
      position: relative;
      width: 1.45067rem;
      height: 1.45067rem;
      margin: 0 0.21333rem 0; }
      .sugarprod-item .spi-owner .spi-imgc .spi-headimg {
        width: 100%;
        height: 100%;
        border-radius: 999px; }
      .sugarprod-item .spi-owner .spi-imgc .spi-htag {
        position: absolute;
        width: 0.42667rem;
        height: 0.42667rem;
        right: 0;
        bottom: 0; }
    .sugarprod-item .spi-owner .spi-infos {
      width: 0;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      flex: 1;
      color: #386C9B; }
      .sugarprod-item .spi-owner .spi-infos .spi-name {
        display: inline-block;
        max-width: 3em;
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
      .sugarprod-item .spi-owner .spi-infos .spi-posi {
        font-size: 12px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
      .sugarprod-item .spi-owner .spi-infos .name-vertag {
        vertical-align: baseline; }
    .sugarprod-item .spi-owner .sugar-rank {
      margin: 0 3px;
      font-size: 10px; }

.checknum {
  font-size: 10px;
  color: #808080;
  background: url(../images/bg-check.png) no-repeat;
  background-position: right 2px;
  background-size: auto 12px;
  min-width: 3rem;
  text-align: right;
  padding-right: 18px;
  line-height: 16px; }

.sugarwine-detail {
  padding: 10px;
  background-color: white; }
  .sugarwine-detail .sugar-pos {
    color: #4775a3;
    font-size: 12px; }
    .sugarwine-detail .sugar-pos.s-online {
      color: #08C48D; }
  .sugarwine-detail .main-context {
    padding: 10px 0 0;
    font-size: 14px;
    overflow: hidden; }
    .sugarwine-detail .main-context * {
      max-width: 100%; }
    .sugarwine-detail .main-context img {
      width: 100%;
      margin-top: 8px; }

.off-address {
  margin: 10px 0 0 0;
  padding: 0 0.768rem;
  background-color: #fff;
  overflow: hidden; }
  .off-address h4 {
    line-height: 32px;
    font-size: 15px;
    color: #000;
    border-bottom: 1px solid #eeeef3; }
  .off-address .offa-item {
    margin: 1.28rem 0; }
  .off-address .oamore {
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    color: #333;
    border-top: 1px solid #eeeef3; }

.oi-one {
  line-height: 18px;
  font-size: 14px; }
  .oi-one .oio-left, .oi-one .oio-right {
    color: #4775A3; }
  .oi-one .oio-right {
    float: right; }

.oi-list {
  position: relative;
  padding-right: 2.56rem; }
  .oi-list > p {
    margin-top: 0.64rem;
    font-size: 12px;
    color: #4d4d4d; }
  .oi-list .oi-status {
    position: absolute;
    right: 0;
    width: 1.92rem;
    height: 0.85333rem;
    background: no-repeat 0 0/contain; }
    .oi-list .oi-status.ois-ing {
      background-image: url(../images/autumn/bg-sugaring.png); }
    .oi-list .oi-status.ois-ed {
      background-image: url(../images/autumn/bg-sugared.png); }
    .oi-list .oi-status.ois-pre {
      background-image: url(../images/autumn/bg-sugarpre.png); }

.trans180 {
  transform: rotate(180deg); }

.fixed-share {
  position: fixed;
  bottom: 2.56rem;
  right: 0.34133rem;
  width: 2.73067rem;
  height: 2.73067rem;
  background: url(../images/autumn/bg-shareposter.png) no-repeat 0 0/contain; }

.bottom-block .sw-collect {
  width: 2.88rem;
  height: 100%;
  background: url(../images/autumn/bg-btmcollect.png) no-repeat center center/auto 100%; }
  .bottom-block .sw-collect.active {
    background: url(../images/autumn/bg-btmcollected.png) no-repeat center center/auto 100%; }
.bottom-block .sw-contact {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  height: 100%;
  background: url(../images/autumn/bg-btmcontact.png) no-repeat center center/auto 0.85333rem; }
.bottom-block .sw-addnew {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  height: 100%;
  background: url(../images/autumn/bg-btmaddnew.png) no-repeat center center/auto 0.85333rem; }

.btmfixedpage {
  padding-bottom: 1.92rem; }

.linecenter {
  text-align: center; }
  .linecenter .lc-left {
    display: inline-block;
    width: 4.05333rem;
    height: 0.29867rem;
    background: url(../images/autumn/bg-lcleft.png) no-repeat 0 0/contain;
    vertical-align: middle; }
  .linecenter .lc-right {
    display: inline-block;
    width: 4.05333rem;
    height: 0.29867rem;
    background: url(../images/autumn/bg-lcright.png) no-repeat 0 0/contain;
    vertical-align: middle; }
  .linecenter > span {
    color: #26254e;
    font-size: 12px; }
    .linecenter > span > font {
      font-size: 16px; }

.ver-tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  height: 6.4rem;
  background-color: white; }
  .ver-tabs .ver-tab {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    text-align: center; }
    .ver-tabs .ver-tab .tabimg {
      display: inline-block;
      margin: 1.06667rem 0 0.68267rem;
      width: 2.64533rem;
      height: 2.64533rem;
      border-radius: 999px;
      background: no-repeat 0 0/contain; }
      .ver-tabs .ver-tab .tabimg.tab-card {
        background-image: url(../images/autumn/bg-itemcard.png); }
      .ver-tabs .ver-tab .tabimg.tab-identity {
        background-image: url(../images/autumn/bg-itemidentity.png); }
      .ver-tabs .ver-tab .tabimg.tab-success {
        background-image: url(../images/autumn/bg-itemsuccess.png); }
      .ver-tabs .ver-tab .tabimg.tab-upload {
        background-image: url(../images/autumn/bg-itemupload.png);
        margin: 0.85333rem 0 0.21333rem; }
    .ver-tabs .ver-tab .tabname {
      font-size: 0.59733rem;
      color: #000; }
    .ver-tabs .ver-tab.active .tabname {
      color: #53aefa; }
    .ver-tabs .ver-tab.active .tab-card {
      background-image: url(../images/autumn/bg-itemcarding.png); }
    .ver-tabs .ver-tab.active .tab-identity {
      background-image: url(../images/autumn/bg-itemidentitying.png); }
    .ver-tabs .ver-tab.active .tab-success {
      background-image: url(../images/autumn/bg-itemsuccessing.png); }
    .ver-tabs .ver-tab.active .tab-upload {
      background-image: url(../images/autumn/bg-itemuploading.png); }
    .ver-tabs .ver-tab .tabuploadone {
      font-size: 0.64rem;
      color: #000; }
    .ver-tabs .ver-tab .tabuploadtwo {
      margin: 0.17067rem 0 0.21333rem;
      font-size: 0.59733rem;
      color: #53aefa; }

.graybg-box {
  min-height: 1.32267rem; }
  .graybg-box .triangleline {
    height: 0.42667rem;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEYAAAAjCAYAAAApF3xtAAAACXBIWXMAAAsTAAALEwEAmpwYAAACkUlEQVRogeXYX2SVcRzH8d/v9zSJ/syapCQpkhSJKaaMxZQoUkQiIikpIiO6SOluF112Xa3LiEkikSSiJFKS1EwqpXPOc37f3+fz62I786gzZ+fsOc+32utuz9n4ft6eczPrve9NkmTYGGONMWJmMWutjTHOjzFessYYQ/KgMeaatXae8m3qSF5NkuSkrT0QkV3OuevOuYWah2kiOZQkyWljxr8+k0RkwDl3wznXqXOaLmvtZI852Q86OjpGRGS/tfamtbar+NNUXcn+YOv9hoj0O+eGnXOzIg7Jy0mSDGaf1Q1jjDEi0uecu+Wc627/aXpijBedc+eb+iPv/XaSY/E/BeBCy0W9970kR7VH5C2E0NxbUg/JrQA+aY/JSwhhsPHqafLebwHwUXtUDs7lFiUTpwfAB+1lrSJ5NvcomTibAbzXHtkskmfaFqWmWq1uAvBOe+x0kTzV9ig1JDcCeKs9uhGSJwqLUlOtVjcAeKM9vh6OO154lEyc9QBea4fIIokQwjG1KDVpmq4j+Uo7SIwxkgwhhKPaTSalaboWwEvlKBJCOKLd4g8k1wB4oRTFhxAOazeYUqVSWQ3gecFRqiGEQ9rbGyK5iuSzgqKkE/+z/jeQXAngaZujVEge0N7atHK5vALAk3ZEAVAmuU97Y8tKpdJyAI9zjlIiuVd724yVSqVlAB7lFOWniOzR3pSbGONSkg9nEoXkD5K7tbfkjuQSAA9afFO+k9ypvaFtYozdAO43+aZ8E5EB7dvbjuRiAPemGeWriOzQvrkwJLsA3G0Q5YuI9GvfWrgYYyeAkSmifBaRPu0b1cQYFwG481uUMZLbtG9TR3IBgNsTUUa9973aN/01SM4FMESyR/sWY4z5BZoPFXJY2cSYAAAAAElFTkSuQmCC) no-repeat center 0/contain; }
  .graybg-box .ver-desc {
    padding: 1.06667rem; }
    .graybg-box .ver-desc h4 {
      font-size: 0.68267rem;
      margin-bottom: 0.42667rem; }
    .graybg-box .ver-desc p {
      font-size: 0.64rem; }

.ver-infobox {
  padding: 0 0.64rem;
  background-color: white; }
  .ver-infobox h4 {
    line-height: 1.6rem;
    text-align: center; }
    .ver-infobox h4 > span {
      margin: 0 0.42667rem;
      font-size: 0.64rem;
      color: #000; }
    .ver-infobox h4 .ileft {
      display: inline-block;
      width: 0.64rem;
      height: 0.3413333rem;
      background: url(../images/autumn/bg-verinfoleft.png) no-repeat 0 0/contain;
      vertical-align: middle; }
    .ver-infobox h4 .iright {
      display: inline-block;
      width: 0.64rem;
      height: 0.3413333rem;
      background: url(../images/autumn/bg-verinforight.png) no-repeat 0 0/contain;
      vertical-align: middle; }

.ver-line {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  padding-left: 0.42667rem;
  height: 2.09067rem;
  align-items: center;
  -webkit-align-items: center;
  border-top: 1px solid #eeeef3; }
  .ver-line .vl-label {
    font-size: 0.64rem;
    color: #4d4d4d; }
  .ver-line .vl-input {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    font-size: 0.64rem;
    color: #000;
    border: none;
    text-align: right; }
  .ver-line .vl-code {
    text-align: left; }
  .ver-line .vl-send {
    width: auto;
    line-height: 1.06667rem;
    padding: 0 5px;
    font-size: 0.59733rem;
    border: 1px solid #08C28D;
    color: #08C28D;
    border-radius: 2px;
    white-space: nowrap;
    background-color: white; }

.vstatus-item {
  padding: 0.85333rem 0;
  border-top: 1px solid #eeeef3; }
  .vstatus-item > p {
    margin-bottom: 0.55467rem;
    font-size: 0.64rem;
    color: #000; }
  .vstatus-item .vstatus-span {
    float: right;
    width: 2.85867rem;
    height: 0.72533rem;
    background: no-repeat center center/contain; }
    .vstatus-item .vstatus-span.vs-ing {
      background-image: url(../images/autumn/bg-vstatusing.png); }
    .vstatus-item .vstatus-span.vs-fail {
      background-image: url(../images/autumn/bg-vstatusfailed.png); }
    .vstatus-item .vstatus-span.vs-success {
      background-image: url(../images/autumn/bg-vstatussuccess.png); }
  .vstatus-item .ver-imgbox {
    position: relative; }
  .vstatus-item .ver-upimg {
    margin-right: 0.64rem;
    width: 3.54133rem;
    height: 2.38933rem;
    vertical-align: bottom; }
  .vstatus-item .reverify {
    position: absolute;
    right: 0;
    padding: 0 5px;
    font-size: 0.59733rem;
    line-height: 1.024rem;
    text-align: center;
    color: #3ebdf6;
    border: 1px solid #3ebdf6;
    border-radius: 2px; }
  .vstatus-item .verdate {
    margin-top: 1.6rem;
    float: right;
    font-size: 0.59733rem;
    color: #999; }
  .vstatus-item .verfailinfo {
    margin-top: 0.384rem;
    font-size: 0.59733rem;
    color: #ff6600; }

.uploadbox {
  padding-bottom: 0.42667rem;
  border-top: 1px solid #eeeef3; }

.verup-line {
  margin-top: 0.64rem;
  line-height: 1.6rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex; }
  .verup-line label {
    font-size: 0.64rem; }
  .verup-line input[type="text"] {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    margin-right: 5px;
    padding: 0 20px 0 10px;
    line-height: inherit;
    border: none;
    background-color: #eeeef3; }

.unload-card {
  position: relative;
  width: 11.392rem;
  height: 7.552rem;
  margin: 1.38667rem auto; }
  .unload-card img {
    width: 100%;
    height: 100%; }
  .unload-card input[type="file"] {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0; }

/*# sourceMappingURL=autumn.css.map */
