@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "微软雅黑","黑体","宋体"; }

html {
  font-size: 10px; }

body {
  font-size: 0.875rem;
  font-family: sans-serif;
  /* background: #d0d0d0;*/
  -webkit-tap-highlight-color: transparent; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

strong {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  border: 0;
  max-width: 100%; }

a {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none; }

input[type=button], input[type=submit], input[type=file], button {
  cursor: pointer;
  -webkit-appearance: none; }

input {
  -webkit-tap-highlight-color: transparent; }

a, button, input, optgroup, select, textarea {
  -webkit-tap-highlight-color: transparent; }

* {
  -webkit-touch-callout: none;
  /*系统默认菜单被禁用*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -khtml-user-select: none;
  /*早期浏览器*/
  -moz-user-select: none;
  /*火狐*/
  -ms-user-select: none;
  /*IE10*/
  user-select: none; }

input, textarea {
  -webkit-user-select: auto;
  /*webkit浏览器*/
  margin: 0px;
  padding: 0px;
  outline: none; }

body {
  background-color: #eeeef3; }

a {
  text-decoration: none;
  background: transparent;
  -webkit-tap-highlight-color: transparent; }

.pb213 {
  padding-bottom: 2.133333rem; }

.fixed-btm {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2.45rem;
  background-color: white;
  border-top: 1px solid #ccc;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex; }

.fb-item {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  text-align: center;
  font-size: 0.42667rem;
  color: #999;
  padding-top: 1.5rem;
  background: no-repeat center 0.35rem/auto 1.1rem; }
  .fb-item.active {
    color: #0ac48f; }
  .fb-item.jq {
    background-image: url(../images/home/jq.png); }
    .fb-item.jq.active {
      background-image: url(../images/home/jq-a.png); }
  .fb-item.zj {
    background-image: url(../images/home/zj.png); }
    .fb-item.zj.active {
      background-image: url(../images/home/zj-a.png); }
  .fb-item.me {
    background-image: url(../images/home/me.png); }
    .fb-item.me.active {
      background-image: url(../images/home/me-a.png); }

.top-menus {
  margin: 0.55467rem 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  background-color: white;
  flex-wrap: wrap; }

.tm-item {
  width: 25%;
  font-size: 0.64rem;
  color: #4D4D4D;
  text-align: center; }
  .tm-item.more .tmi-icon {
    transition: transform 400ms; }

.tmi-icon {
  display: block;
  height: 1.81333rem;
  width: 1.81333rem;
  margin: 0.55467rem auto 0 auto;
  border-radius: 999px; }
  .tmi-icon.trans180 {
    transform: rotate(180deg); }

.tmi-name {
  display: inline-block;
  margin: 0.42667rem 0 0.55467rem 0; }

.fixed-tag {
  width: 2.13333rem;
  height: 2.13333rem;
  position: fixed;
  bottom: 3.2rem;
  right: 0.85333rem; }

.memu-page {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
  background: url(../images/home/operpage-bg.png) white no-repeat left top/100% auto;
  overflow: hidden;
  text-align: center; }

.action-menu {
  margin: 0;
  position: absolute;
  width: 100%;
  bottom: 7.68rem;
  background-color: initial; }
  .action-menu .tmi-icon {
    width: 2.26133rem;
    height: 2.26133rem; }

.split-line {
  position: absolute;
  bottom: 3.2rem;
  width: 14.50667rem;
  margin: 0 0.74667rem;
  border-bottom: 1px solid #D6D6D6; }

.oper-close {
  position: absolute;
  bottom: 1.49333rem;
  width: 1.28rem;
  height: 1.28rem;
  margin-left: -0.64rem; }

.topinfo-block {
  height: 5.33333rem;
  background: url(../images/home/top-bg.png) no-repeat left top/100% 100%; }

.tb-headimg {
  float: left;
  margin: 1.28rem 0.42667rem;
  width: 2.88rem;
  height: 2.88rem;
  border-radius: 999px;
  border: 1px solid #fff; }

.tbi-name, .tbi-career {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.tb-infos {
  padding: 1.74933rem 2.13333rem 0 3.73333rem;
  color: #fff; }

.tbi-name {
  font-size: 16px; }

.tbi-career {
  margin-top: 0.32rem;
  font-size: 14px; }

.tbi-more {
  margin: -2.1rem 0.85333rem 0 0;
  float: right;
  height: 1.2rem;
  width: 1.2rem;
  background: url(../images/home/more-white.png) no-repeat right center/auto 1.2rem; }

.jump-line {
  height: 2.13333rem;
  background-color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  padding: 0 10px;
  border-bottom: 1px solid #eeeef3;
  width: 100%; }

.jump-line .jl-l {
  font-size: 14px;
  color: #000; }

.jump-line .jl-r {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  text-align: right;
  font-size: 14px;
  color: #333;
  padding-right: 0.6rem;
  background: url(../images/i-more.png) no-repeat right center/auto 0.6rem; }

.martop24 {
  margin-top: 0.512rem; }

.jl-icon {
  display: inline-block;
  margin-right: 10px;
  width: 1.28rem;
  height: 1.28rem;
  vertical-align: middle;
  background: no-repeat right center/auto 100%; }
  .jl-icon.jli-circle {
    background-image: url(../images/home/mine-circle.png); }
  .jl-icon.jli-ask {
    background-image: url(../images/home/mine-ask.png); }
  .jl-icon.jli-supply {
    background-image: url(../images/home/mine-supply.png); }
  .jl-icon.jli-topic {
    background-image: url(../images/home/mine-topic.png); }
  .jl-icon.jli-activity {
    background-image: url(../images/home/mine-activity.png); }
  .jl-icon.jli-favor {
    background-image: url(../images/home/mine-favor.png); }

.topic-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  height: 4.05333rem;
  padding-top: 2px;
  background-color: white;
  margin-bottom: 1px; }
  .topic-item .ti-l {
    width: 3.84rem;
    height: 2.88rem;
    margin: 0 0.42667rem;
    overflow: hidden; }
  .topic-item .ti-r {
    width: 1px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    padding-right: 0.42667rem; }

.activity-list .topic-item {
  height: 4.69333rem; }

.tir-one {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  font-size: 0.68267rem;
  color: #000;
  margin-bottom: 0.32rem; }

.tir-two {
  font-size: 0.59733rem;
  color: #808080; }
  .tir-two .t-time {
    float: right; }

.til-img {
  width: 100%;
  height: 100%; }

.t-type {
  color: #5291F1; }

.tir-middle {
  font-size: 0.59733rem;
  color: #808080;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.t-status {
  float: right;
  font-size: 0.59733rem; }
  .t-status.s-signed {
    color: #4775a3; }
  .t-status.s-end {
    color: #999999; }
  .t-status.s-valid {
    color: #0ac48f; }
  .t-status.s-refused {
    color: #ff6633; }
  .t-status.s-verifying {
    color: #6699ff; }

.topbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  height: 1.8rem;
  background-color: white;
  top: 0;
  position: fixed;
  width: 100%;
  overflow-x: auto;
  border-bottom: 1px solid #f5f5f5; }

.tb-item {
  min-width: 80px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  text-align: center;
  font-size: 14px; }

.tb-item.active {
  color: #0AC48F; }

.innerspan {
  padding: 2px 5px;
  color: #333; }

.tb-item.active .innerspan {
  border-bottom: 2px solid #0ac48f; }

.favor-list {
  margin-top: 1.85rem; }

.favor-tabs .tb-item.active .innerspan {
  position: relative;
  color: #0ac48f;
  border-bottom: none; }
  .favor-tabs .tb-item.active .innerspan:after {
    content: '';
    position: absolute;
    width: 74%;
    border-bottom: 2px solid #0ac48f;
    left: 13%;
    bottom: -2px; }

/*# sourceMappingURL=homepage.css.map */
