@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "微软雅黑","黑体","宋体"; }

html {
  font-size: 10px; }

body {
  font-size: 0.875rem;
  font-family: sans-serif;
  /* background: #d0d0d0;*/
  -webkit-tap-highlight-color: transparent; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

strong {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  border: 0;
  max-width: 100%; }

a {
  display: block;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none; }

input[type=button], input[type=submit], input[type=file], button {
  cursor: pointer;
  -webkit-appearance: none; }

input {
  -webkit-tap-highlight-color: transparent; }

a, button, input, optgroup, select, textarea {
  -webkit-tap-highlight-color: transparent; }

* {
  -webkit-touch-callout: none;
  /*系统默认菜单被禁用*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -khtml-user-select: none;
  /*早期浏览器*/
  -moz-user-select: none;
  /*火狐*/
  -ms-user-select: none;
  /*IE10*/
  user-select: none; }

input, textarea {
  -webkit-user-select: auto;
  /*webkit浏览器*/
  margin: 0px;
  padding: 0px;
  outline: none; }

body {
  background-color: #eeeef3; }

a {
  text-decoration: none;
  background: transparent;
  -webkit-tap-highlight-color: transparent; }

.page-c {
  padding: 0.85333rem; }

.top-tips {
  padding-left: 0.85333rem;
  font-size: 0.59733rem;
  color: #4D4D4D;
  background: url(../img/val-warm.png) no-repeat;
  background-size: 0.64rem;
  background-position-y: 0.08533rem; }

.input-blocks {
  background-color: white;
  width: 14.61333rem;
  margin: 0.85333rem auto 0 auto;
  border-radius: 4px; }
  .input-blocks .input-line {
    position: relative;
    height: 2.66667rem;
    line-height: 2.66667rem;
    margin-left: 0.85333rem;
    padding-left: 1.06667rem;
    margin-right: 0.74667rem; }
    .input-blocks .input-line input {
      vertical-align: text-bottom;
      height: 1.06667rem;
      border: none !important;
      font-size: 0.64rem;
      color: #808080;
      width: 80%; }
    .input-blocks .input-line.mobile-line {
      background: url(../img/mobile.png) no-repeat;
      background-size: 0.65rem 0.9rem;
      background-position: 0 center; }
    .input-blocks .input-line.idcode-line {
      background: url(../img/idcode.png) no-repeat;
      background-size: 0.8rem 0.8rem;
      background-position: 0 center;
      padding-right: 4.58667rem; }
    .input-blocks .input-line .clear-icon {
      display: none;
      position: absolute;
      margin-top: 0.90667rem;
      width: 0.85333rem;
      height: 0.85333rem;
      background: url(../img/clear.png) no-repeat;
      background-size: 100% 100%;
      z-index: 1; }
    .input-blocks .input-line .send-btn {
      position: absolute;
      height: 1.64267rem;
      width: 4.58667rem;
      color: #fff;
      font-size: 0.68267rem;
      background-color: #37CDA3;
      border-radius: 2px;
      border: none;
      top: 0.512rem;
      right: 0; }
      .input-blocks .input-line .send-btn:disabled {
        background-color: #ccc; }
  .input-blocks .input-line:not(:last-child) {
    border-bottom: 1px solid #F5F5F5; }

.submit-btn {
  display: block;
  margin: 1.92rem auto;
  width: 12.11733rem;
  height: 1.728rem;
  line-height: 1.728rem;
  border-radius: 2px;
  color: #fff;
  text-align: center;
  border: none;
  background-color: #37CDA3; }

/*# sourceMappingURL=valmobile.css.map */
