@charset "utf-8";
@import "../reset";
@import "../constants";
@import "../funcs";
@import "../mixin";
@import "../common";

// 秋糖
.zwadd-block{
    margin: prem(30) 0 0 0;
    background-color: white;
    .zb-topline{
        padding: 0 10px;
        height: 1.5rem;
        border-bottom: 1px solid #eeeef3;
    }
}
.del-span{
//  color: #FF8134;
//  font-size: prem(30);
//  line-height: 1.5rem;
    width: 3rem;
    height: 1.5rem;
    background: url(../images/icon-deladdress.png) no-repeat center center/auto prem(30);
    cursor: pointer;
}
.add-span{
    width: prem(190);
    height: 2rem;
    background: url(../images/icon-addaddress.png) no-repeat center center/auto prem(30);
    cursor: pointer;
}
.choose-line{
    padding: 0 10px;
    line-height: 2rem;
    font-size: prem(32);
    border-bottom: 1px solid #eeeef3;
    overflow: hidden;
    .chl-left{
        color: #000;
    }
    .chl-right{
        color: #999;
    }
}

.del-input{
    display: inline-block;
//  height: 2rem;
    width: 67%;
    vertical-align: middle;
    font-size: 0.68267rem;
    padding-right: prem(60);
//  @include clearfix;
    input{
        width: 100%;
        border: none;
        outline-style: none;
        
        
    }
    .di-icon{
        display: none;
        float: left;
        width: prem(60);
        height: prem(40);
        background: url(../images/clear.png) no-repeat center center/auto prem(40);
        margin-left: - prem(60);
        position: relative;
        left: prem(60);
    }
    
}
.chlr-value{
    vertical-align: middle;
}
.sm-icon{
    display: inline-block;
    width: prem(35);
    height: prem(35);
//  background-color: gold;
    background: no-repeat center center/contain;
    &.smi-remove{
        background-image: url(../images/smi-remove.png);
        background-size: auto 100% ; 
    }
    &.smi-more{
        background-image: url(../images/i-more.png);  
        vertical-align: middle;
    }
    &.smi-heart{
        background-image: url(../images/autumn/smi-heart.png);  
        vertical-align: middle;
    }
    &.smi-more{
        background-image: url(../images/autumn/more_unfold.png); 
        transition: transform 200ms;
//      vertical-align: middle;
    }
    
}

    
.addtjh{
    position: fixed;
    padding-right: 3rem;
    bottom: 0;
    width: 100%;
    line-height: 2rem;
    text-align: center;
    font-size: prem(36);
    background-color: #fff;
    color: #6497FE;
    .side-btn{
        float: right;
        width: 3rem;
        margin-right: -3rem;
        color: #20BF96;
        border-left: 1px solid #eeeef3;
    }
}

//发布成功
.topload-img{
    display: block;
}
.topsucc-info{
    position: absolute;
    top: 3.5rem;
    left: 1.5rem;
    font-size: prem(36);
    color: white;
    &.completeinfo-box{
        width: prem(375);
        top: 2.5rem;
        >p{
            font-size: prem(28);
        }
    }
}
.hori-three{
    padding: 0 prem(40);
    margin: prem(100) 0 prem(56) 0;
    @include flexbox;
    align-items: center;-webkit-align-items:center;

    .ht-line{
        @include flexitem;
        border-bottom: 1px solid #FE6E35;
    }
    .ht-text{
        padding: 0 prem(20);
        color: #FE6E35;
        font-size: prem(28);
    }
}

.marr12{
    margin-right: prem(12);
}

.bgwhite-list{
    margin: 0 5px;
    padding: 0 10px;
    background-color: white;
}

.custinfo-line{
    padding: 6px 0;
    @include flexbox;
    align-items: center;-webkit-align-items:center;

    &:not(:last-child){
        border-bottom: 1px solid #eeeef3;
    }
    .cl-infoblock{
        width: 0;
        padding-left: prem(20);
        @include flexitem;
        >p{
            @include ellipsis;
        }
        .clib-name{
           
            color: #000;
            font-size: prem(34);
        }
        .clib-career{
            margin: 2px 0;
        }
        .clib-career,.clib-desc{
            color: #666;
            font-size: prem(28);
        }
    }
}
.himg-box{
    position: relative;
    height: prem(100);
    width: prem(100);
    .hib-img{
        width: 100%;
        height: 100%;
        border-radius: 999px;
    }
    .hib-tag{
        position: absolute;
        right: 0;
        bottom: 0;
        width: prem(30);
        height: prem(30);
    }
}
.roundcorner-btn{
    display: block;
    margin: prem(80) auto 0 ;
    @include roundcorner-btn(prem(250),prem(70));
    font-size: prem(32);
}

.compinfo-tag{
    margin: prem(120) prem(100) prem(80);
    font-size: prem(30);
}

.goverifybtn{
    margin:  0 auto;
    @include blockbutton(80%,prem(80),#08C48D);
    font-size: prem(30);

}
//海报分享页面
.poster-selector{
    padding: 10px 0;
    .ps-top{
        font-size: prem(32);
        padding-left: prem(40);
    }
    
}
.ps-container{
    overflow-x:auto ;
    white-space: nowrap;
    margin: prem(20) prem(30) prem(80);
    padding: prem(10) prem(5) prem(10)  ;
    font-size: 0;
    
}
.psc-item{
    position: relative;
    display: inline-block;
    margin-right: prem(40);
    
    width: prem(195);
    height: prem(267);
    
    vertical-align: bottom;
    &:last-child{
        margin-right: 0;
    }
    img{
        width: 100%;
        height: 100%;
        box-shadow: 0 0 8px 0 #999;
    } 
    &.active{
        box-shadow: 0 0 0 1px #fff, 0 0 0 4px #20BF96; 
       
    }
    &.pi-add{
        box-shadow: 0 0 8px 0 #999;
        background-color: white;
        text-align: center;
        .pi-addimg{
            display: block;
            margin: prem(50) auto prem(30);
            width: prem(120);
            height: prem(120);
            box-shadow: none;
        }
        .pi-addspan{
            font-size: prem(28);
            color: #808080;
        }
    }
}
.ps-shower{
    margin: 0 auto prem(70) auto;
    width: prem(417);
    height: prem(590);
    img{
        width: 100%;
        height: 100%;
        box-shadow: 0 0 10px 0 #999;
    }
}
.type-line{
    background-color: white;
    background-image: url(../images/i-more.png);
    background-repeat: no-repeat;
    background-size: prem(20);
    background-position: 96% center;
    margin: prem(20) 0;
    line-height: prem(90);
    .type-name{
        margin-left: prem(30);
        color: #000;
        font-size: prem(30);
        vertical-align: bottom;
    }
}
.right-value {
    margin-right: 8%;
    float: right;
    color: #999;
    font-size: 0.64rem;
    max-width: 9.5rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.mar24{
    margin: 0 prem(24);
}
.tag-line{
    margin: prem(24) prem(50) prem(36);
    font-size: prem(28);
    color: #808080;
}

.cust-ta{
    padding: prem(22);
    margin: 0 prem(24);
    background-color: white;
    textarea{
        border: none;
        
        box-sizing: content-box;
        -webkit-appearance: none;
        resize: none;
        width: 100%;
        color: #000;
        font-size: 0.64rem;
        height: 4.8em;
    } 
}
.button-block {
    display: block;
    margin: 0 auto;
    width: 90%;
    line-height: 1.7066666667rem;
    font-size: 0.64rem;
    border: none;
    color: white;
    border-radius: 4px;
    &.btn-makeposter{
        margin: prem(70) auto;
        width: 80%;
        background-color: #17C792;
    }
    &.btn-veredit{
        margin: prem(70) auto;
        width: 80%;
        background-color: #17C792;
    }
    &.btn-goverify{
        margin: prem(140) auto;
        width: 80%;
        background-color: #53aefa;
    }
    &.btn-versubmit{
        margin: prem(40) auto 0;
        width: 100%;
        background-color: #17C792;
        border-radius: 0;
    }
    &:disabled{
        background-color: #ccc;
    }
}
//生成完成
.post-shower{
    margin: prem(96) auto prem(110);
    width: prem(640);
    height: prem(765);
    img{
        width: 100%;
        height: 100%;
        box-shadow: 0 0 20px 0 #666;
    }
}
.button-inlineblock{
    display: inline-block;
    margin: 0 4% 0 8%;
    width: 40%;
    line-height: 1.7066666667rem;
    font-size: 0.64rem;
    border: none;
    color: white;
    border-radius: 4px;
    &.btn-remake{
        background-color: #83b0c2;
    }
    &.btn-savepost{
        margin: 0;
        background-color: #17C792;
    }
}
//海报库
.poster-nines{
    padding: prem(18) prem(40);
    font-size: 0;
    .psc-item{
        margin-bottom: prem(34);
    }
    .psc-item:nth-child(3n){
        margin-right: 0;
    }
}
.pmbtm-tag {
    margin: prem(32) 0 prem(20);
    font-size: prem(28);
    color: #808080;
    
}
.psci-close{
    display: inline-block;
    position: absolute;
    right: - prem(18);
    top: - prem(18);
    width: prem(36);
    height: prem(36);
    background: url(../images/autumn/icon-posterclose.png) no-repeat center center/contain;
}
.mart15{
    margin-top: prem(15);
}
//圈子人数排行榜
.memberslist{
    .rank-item:nth-child(1){
        .ri-index{
            height: prem(38);
            font-size: 0;
            background: url(../images/autumn/bg-mfirst.png) no-repeat 0.2rem center/auto 100%;
        } 
    } 
    .rank-item:nth-child(2){
        .ri-index{
            height: prem(38);
            font-size: 0;
            background: url(../images/autumn/bg-msecond.png) no-repeat 0.2rem center/auto 100%;
        } 
    }   
    .rank-item:nth-child(3){
        .ri-index{
            height: prem(38);
            font-size: 0;
            background: url(../images/autumn/bg-mthird.png) no-repeat 0.2rem center/auto 100%;
        } 
    }   
}
.circlerank{
    .rr-members{
        color: #3f9aeb;
    }
}
.rank-item{
    
    &.myrank{
        background-color: #f7f7f7;
    }
    padding: 0 prem(30);
    @include flexbox;
    height: prem(126);
    align-items: center;-webkit-align-items:center;

    .ri-index{
        font-size: prem(30);
        font-weight: bold;
        min-width: 1.2rem;
//      margin-right: prem(12);
        text-align: center;
    }
    .ri-himg{
        margin:0 prem(20) 0 0;
        .himg{
            width: prem(80);
            height: prem(80);
            border-radius: 999px;
        }
    } 
    .ri-text{
//      width: 0;
        @include flexitem;
        .rit-name{
            font-size: prem(28);
            color: #000;
            max-width: 6rem;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }            
        .rit-rank{
            margin-top: prem(10);
            font-size: prem(30);
            color: #4775a3;
        }
    } 
}
.rr-btn {
    display: inline-block;
    width: prem(140);
    text-align: center;
    color: #663300;
    background-color: #ffcd76;
    line-height: prem(50);
    font-size: prem(24);
    border-radius: 999px;
}
.rr-members{
    margin-right: prem(10);
    font-size: prem(34);
    color: #ffcd76;
}
.rank-list{
    padding: 0 prem(30);
    .rank-item{
        padding: 0;
        border-bottom: 1px solid #F5F5F5;
    }
}
//圈子排行榜
.rank-top{
    @include flexbox;
    width: 100%;
    height: prem(450);
    background: url(../images/autumn/bg-ranktop.png) no-repeat center center/cover;
}
.top-item{
    @include flexitem;
    text-align: center;
    width: 0;
    .ti-hbox{
        position: relative;
        margin: prem(50) auto prem(32);
        width: prem(162);
        height: prem(214);
        background: no-repeat center center/cover;
        &.ti-second{
            background-image: url(../images/autumn/bg-tsecond.png);
        }
        &.ti-first{
            background-image: url(../images/autumn/bg-tfirst.png);
        }
        &.ti-third{
            background-image: url(../images/autumn/bg-tthird.png);
        }
        &.ti-second .cir-img,&.ti-third .cir-img{
            margin-top: prem(68);
            width: prem(144);
            height: prem(144);
            border-radius: 999px;
        }
        &.ti-first .cir-img{
            margin-top: prem(55);
            width: prem(157);
            height: prem(157);
            border-radius: 999px;
        }
    }
    
    .cir-name{
        padding: 0 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: prem(28);
        color: white;
    }
    .rr-btn{
        margin-top: prem(20);
        font-size: prem(30);
        color: white;
    }
}
.top-suggest{
    padding-left: 10px;
    line-height: 1.92rem;
    background-color: #f5fbff;
    font-size: 0.55rem;
    color: #666;

}
.fr-btn{
    float: right;
    width: 2.8rem;
    text-align: center;
    color: white;
    background-color: #3ebdf6;
    line-height: 1.22rem;
    margin: 0.35rem 10px 0 0;
    border-radius: 3px;
}
.sugarprod-item{
    width: prem(680);
    height: prem(400);
    margin: 0.5rem auto 1.5rem;
    position: relative;
    .spi-bg{
        z-index: -1;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: prem(400);
        border-radius: 8px;
        box-shadow: 0 0 6px 2px #999;
    }
    .spi-title{
        font-size: 16px;
        color: #fff;
        padding: 0.8rem 0;
        margin: 0 3rem 0 1rem ;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .spi-tag{
        position: absolute;
        top: 0.8rem;
        right: 0.8rem;
        width: 2rem;
        line-height: 18px;
        text-align: center;
        color: #fff;
        border: 1px solid #fff;
        font-size: 12px;
        border-radius: 2px;
    }
    .spi-owner{
        position: absolute;
        bottom: - prem(40);
        left: prem(20);
        @include flexbox;
        width: prem(640);
        height: prem(110);
        background-color: #fff;
        border-radius: 6px;
        align-items: center;-webkit-align-items:center;

        box-shadow: 0 0 6px 0 #ccc;
        .spi-imgc{
            position: relative;
            width: prem(68);
            height: prem(68);
            margin: 0 prem(10) 0;
            .spi-headimg{
                width: 100%;
                height: 100%;
                border-radius: 999px;
            }
            .spi-htag{
                position: absolute;
                width: prem(20);
                height: prem(20);
                right: 0;
                bottom: 0;
            }
        }
        .spi-infos{
            width: 0;
            @include flexitem;
            color: #386C9B;
            .spi-name{
                display: inline-block;
                max-width: 3em;
                font-size: 14px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .spi-posi{
                font-size: 12px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .name-vertag{
                vertical-align: baseline;
            }
        }

            .sugar-rank{
                margin: 0 3px;
                font-size: 10px;
            }
    }
}
.checknum{
    font-size: 10px;
    color: #808080;
    background: url(../images/bg-check.png) no-repeat;
    background-position: right 2px;
    background-size: auto 12px;    
    min-width: 3rem;
    text-align: right;
    padding-right: 18px;
    line-height: 16px;
}

//糖酒会详情
.sugarwine-detail{
    padding: 10px;
    background-color: white;
    .sugar-pos{
        color: #4775a3;
        font-size: 12px;
        &.s-online{
            color: #08C48D;
        }
    }
    .main-context{
        padding: 10px 0 0;
        font-size: 14px;
        overflow: hidden;
        *{
            max-width: 100%;
        }
        img{
            width: 100%;
            margin-top: 8px;
        }
    }
}

.off-address{
    margin: 10px 0 0 0;
    padding: 0 prem(36);
    background-color: #fff;
    overflow: hidden;
    h4{
        line-height: 32px;
        font-size: 15px;
        color: #000;
        border-bottom: 1px solid #eeeef3;
    }
    .offa-item{
        margin: prem(60) 0;
    }
    .oamore{
        line-height: 30px;
        text-align: center;
        font-size: 12px;
        color: #333;
        border-top: 1px solid #eeeef3;

    }
}

.oi-one{
    line-height: 18px;
    font-size: 14px;
    .oio-left,.oio-right{
        
        color: #4775A3;
        
    }   
    .oio-right{
        float: right;
    }
}
.oi-list{
    position: relative;
    padding-right: prem(120);
    >p{
        margin-top: prem(30);
        font-size: 12px;
        color: #4d4d4d;
    }
    .oi-status {
        position: absolute;
        right: 0;
        width: prem(90);
        height: prem(40);
        background: no-repeat 0 0/contain;
        &.ois-ing{
            background-image: url(../images/autumn/bg-sugaring.png);
        }
        &.ois-ed{
            background-image: url(../images/autumn/bg-sugared.png);
        }
        &.ois-pre{
            background-image: url(../images/autumn/bg-sugarpre.png);
        }
    }
}
.trans180{
    transform: rotate(180deg);
}

.fixed-share{
    position: fixed;
    bottom: prem(120);
    right: prem(16);
    width: prem(128);
    height: prem(128);
    background: url(../images/autumn/bg-shareposter.png) no-repeat 0 0/contain;
}
.bottom-block{
    .sw-collect{
        width: prem(135);
        height: 100%;
        background: url(../images/autumn/bg-btmcollect.png) no-repeat center center/auto 100%;
        &.active{
            background: url(../images/autumn/bg-btmcollected.png) no-repeat center center/auto 100%;
        }
    }
    .sw-contact{
        @include flexitem;
        height: 100%;
        background: url(../images/autumn/bg-btmcontact.png) no-repeat center center/auto prem(40);
    }
    .sw-addnew{
        @include flexitem;
        height: 100%;
        background: url(../images/autumn/bg-btmaddnew.png) no-repeat center center/auto prem(40);
    }
}
.btmfixedpage{
    padding-bottom: 1.92rem;
}

//找酒
.linecenter{
    text-align: center;
    .lc-left{
        display: inline-block;
        width: prem(190);
        height: prem(14);
        background: url(../images/autumn/bg-lcleft.png) no-repeat 0 0/contain;
        vertical-align: middle;
    }
    .lc-right{
        display: inline-block;
        width: prem(190);
        height: prem(14);
        background: url(../images/autumn/bg-lcright.png) no-repeat 0 0/contain;
        vertical-align: middle;
    }
    >span{
        color: #26254e;
        font-size: 12px;
        >font{
            font-size: 16px;
        }
    }
}

//认证页面
.ver-tabs{
    @include flexbox;
    height: prem(300);
    background-color: white;
    .ver-tab{
        @include flexitem;
        text-align: center;
        .tabimg{
            display: inline-block;
            margin: prem(50) 0 prem(32);
            width: prem(124);
            height: prem(124);
            border-radius: 999px;
            background: no-repeat 0 0/contain;
            &.tab-card{
                background-image: url(../images/autumn/bg-itemcard.png);
            }
            &.tab-identity{
                background-image: url(../images/autumn/bg-itemidentity.png);
            }
            &.tab-success{
                background-image: url(../images/autumn/bg-itemsuccess.png);
            }
            &.tab-upload{
                background-image: url(../images/autumn/bg-itemupload.png);
                margin: prem(40) 0 prem(10);
            }
        }
        .tabname{
            font-size: prem(28);
            color: #000;
        }
        
        &.active{
//          .tabimg{
//              box-sizing: content-box;
//              border: 2px solid #B3DBFD;
//          }
            .tabname{
                color: #53aefa;
            }
            .tab-card{
                background-image: url(../images/autumn/bg-itemcarding.png);
            }
            .tab-identity{
                background-image: url(../images/autumn/bg-itemidentitying.png);
            }
            .tab-success{
                background-image: url(../images/autumn/bg-itemsuccessing.png);
            }
            .tab-upload{
                background-image: url(../images/autumn/bg-itemuploading.png);
            }
        }
        .tabuploadone{
            font-size: prem(30);
            color: #000;
        }
        .tabuploadtwo{
            margin: prem(8) 0 prem(10);
            font-size: prem(28);
            color: #53aefa;
        }
    }
}
.graybg-box{
    min-height: prem(62);
    .triangleline{
        height: prem(20);
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEYAAAAjCAYAAAApF3xtAAAACXBIWXMAAAsTAAALEwEAmpwYAAACkUlEQVRogeXYX2SVcRzH8d/v9zSJ/syapCQpkhSJKaaMxZQoUkQiIikpIiO6SOluF112Xa3LiEkikSSiJFKS1EwqpXPOc37f3+fz62I786gzZ+fsOc+32utuz9n4ft6eczPrve9NkmTYGGONMWJmMWutjTHOjzFessYYQ/KgMeaatXae8m3qSF5NkuSkrT0QkV3OuevOuYWah2kiOZQkyWljxr8+k0RkwDl3wznXqXOaLmvtZI852Q86OjpGRGS/tfamtbar+NNUXcn+YOv9hoj0O+eGnXOzIg7Jy0mSDGaf1Q1jjDEi0uecu+Wc627/aXpijBedc+eb+iPv/XaSY/E/BeBCy0W9970kR7VH5C2E0NxbUg/JrQA+aY/JSwhhsPHqafLebwHwUXtUDs7lFiUTpwfAB+1lrSJ5NvcomTibAbzXHtkskmfaFqWmWq1uAvBOe+x0kTzV9ig1JDcCeKs9uhGSJwqLUlOtVjcAeKM9vh6OO154lEyc9QBea4fIIokQwjG1KDVpmq4j+Uo7SIwxkgwhhKPaTSalaboWwEvlKBJCOKLd4g8k1wB4oRTFhxAOazeYUqVSWQ3gecFRqiGEQ9rbGyK5iuSzgqKkE/+z/jeQXAngaZujVEge0N7atHK5vALAk3ZEAVAmuU97Y8tKpdJyAI9zjlIiuVd724yVSqVlAB7lFOWniOzR3pSbGONSkg9nEoXkD5K7tbfkjuQSAA9afFO+k9ypvaFtYozdAO43+aZ8E5EB7dvbjuRiAPemGeWriOzQvrkwJLsA3G0Q5YuI9GvfWrgYYyeAkSmifBaRPu0b1cQYFwG481uUMZLbtG9TR3IBgNsTUUa9973aN/01SM4FMESyR/sWY4z5BZoPFXJY2cSYAAAAAElFTkSuQmCC) no-repeat center 0/contain;
    }
    .ver-desc{
        padding: prem(50);
        h4{
            font-size: prem(32);
            margin-bottom: prem(20);
        }
        p{
            font-size: prem(30);
        }
    }
}
.ver-infobox{
    padding: 0 prem(30);
    background-color: white;
    h4{
        line-height: prem(75);
        text-align: center;
        >span{
            margin: 0 prem(20);
            font-size: prem(30);
            color: #000;
        }
        .ileft{
            display: inline-block;
            width: 0.64rem;
            height: 0.3413333rem;
            background: url(../images/autumn/bg-verinfoleft.png) no-repeat 0 0/contain;
            vertical-align: middle;
        }
        .iright{
            display: inline-block;
            width: 0.64rem;
            height: 0.3413333rem;
            background: url(../images/autumn/bg-verinforight.png) no-repeat 0 0/contain;
            vertical-align: middle;
        }
    }
}
.ver-line{
    @include flexbox;
    padding-left: prem(20);
    height: prem(98);
    align-items: center;-webkit-align-items:center;

    border-top: 1px solid #eeeef3;
    .vl-label{
        font-size: prem(30);
        color: #4d4d4d;
    }
    .vl-input{
        @include flexitem;
        font-size: prem(30);
        color: #000;
        border: none;
        text-align: right;
    }
    .vl-code{
        text-align: left;
    }
    .vl-send{
        width: auto;
        line-height: 1.06667rem;
        padding: 0 5px;
        font-size: 0.59733rem;
        border: 1px solid #08C28D;
        color: #08C28D;
        border-radius: 2px;
        white-space: nowrap;
        background-color: white;
    }
}
.vstatus-item{
   padding: prem(40) 0;
   border-top: 1px solid #eeeef3;
    >p{
        margin-bottom: prem(26);
        font-size: prem(30);
        color: #000;
    }
    .vstatus-span{
        float: right;
        width: prem(134);
        height: prem(34);
        background: no-repeat center center/contain;
        
        &.vs-ing{
            background-image: url(../images/autumn/bg-vstatusing.png); 
        }
        &.vs-fail{
            background-image: url(../images/autumn/bg-vstatusfailed.png); 
        }
        &.vs-success{
            background-image: url(../images/autumn/bg-vstatussuccess.png); 
        }
    }
    .ver-imgbox{
        position: relative;
    }
    .ver-upimg{
        margin-right: prem(30);
        width: prem(166);
        height: prem(112);
        vertical-align: bottom;
    }
    .reverify{
        position: absolute;
        right: 0;
        padding: 0 5px;
        font-size: prem(28);
        line-height: prem(48);
        text-align: center;
        color: #3ebdf6;
        border: 1px solid #3ebdf6;
        border-radius: 2px;
    }
    .verdate{
        
        margin-top: prem(75);
        float: right;
        font-size: prem(28);
        color: #999;
    }
    .verfailinfo{
        margin-top: prem(18);
        font-size: prem(28);
        color: #ff6600;
    }
}
//上传认证文件页面
.uploadbox{
    padding-bottom: prem(20);
    border-top: 1px solid #eeeef3;
}
.verup-line{
    margin-top: prem(30);
    line-height: prem(75);
    @include flexbox;
    label{
        font-size: prem(30);
    }
    input[type="text"]{
        @include flexitem;
        margin-right: 5px;
        padding: 0 20px 0 10px;
        line-height: inherit;
        border: none;
        background-color: #eeeef3;
    }
}
.unload-card{
    position: relative;
    width: prem(534);
    height: prem(354);
    margin: prem(65) auto;
    img{
        width: 100%;
        height: 100%;
    }
    input[type="file"]{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
    }
}
