@charset "utf-8";
@import "../constants";
@import "../funcs";
@import "../mixin";


.countdown-box{
    height: prem(525);
    background: url(../images/autumn/bg-countdown.png) no-repeat 0 0/contain;
    overflow: hidden;
}
.center-line{
    margin-top: prem(200);
    text-align: center;
    font-size: 0;
    .numitem{
        
        display: inline-block;
        
        height: prem(60);
        font-size: 0;
        .ni-side{
            display: inline-block;
            vertical-align: bottom;
            height: prem(60);
            width: prem(20); 
            background: url(../images/autumn/bg-numside.png) no-repeat 0 center/contain;
        }
        .numbox{
            position: relative;
            display: inline-block;
            vertical-align: bottom;
            height: prem(60);
            width: prem(52);
            background: url(../images/autumn/bg-numbox.png) no-repeat 0 0/contain;
            >img{
                position: absolute;
                top: prem(5);
                left: prem(4.5);
                height: prem(50);
//              width: prem(52);
            }
            .showing{
                display: block;
            }
            .hiding{
                display: none;
            }
        }
    }
}
//新列表
.supply-item{
    padding: 20px 10px;
    &.corner-sugar{
        background: url(../images/autumn/corner-sugar.png) #fff no-repeat right top/ prem(170) prem(100);
    }
    &.corner-select{
        background: url(../images/autumn/corner-select.png) #fff no-repeat right top/ prem(170) prem(100);
    }
    &.corner-ask{
        background: url(../images/autumn/corner-ask.png) #fff no-repeat right top/ prem(170) prem(100); 
    }
    &.corner-supply{
        background: url(../images/autumn/corner-supply.png) #fff no-repeat right top/ prem(170) prem(100); 
    }
    &.corner-product{
        background: url(../images/autumn/corner-product.png) #fff no-repeat right top/ prem(170) prem(100); 
    }
}
.imgtext-box{
    position: relative;
    @include padding-propor(9/10);
    >img{
        position: absolute; 
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .ibtitle{
        position: absolute; 
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 0 prem(20);
        line-height: prem(80);
        color: #fff;
        font-size: prem(32);
        background-color: rgba(77,77,77,.35);
        @include ellipsis;
    }
}
